.navigation-bar--container {
    display: flex;
    justify-content: space-around;
    background-color: var(--preset-color-white);
}
.navigation-bar--container .navigation-bar--logo {
    cursor: pointer;
    font-weight: 1000;
    color: var(--preset-color-blue);
}
.navigation-bar--container .navigation-bar--links {
    display: flex;
}
.navigation-bar--container .navigation-bar--links .navigation-bar--links-button {
    display: flex;
    font-weight: 700;
    padding: 10px 20px;
    align-items: center;
    transition: all .2s;
    text-decoration: none;
    color: var(--preset-color-black);
    font-size: var(--font-size-medium);
}
.navigation-bar--container .navigation-bar--links:hover .navigation-bar--links-button:not(:hover) {
    color: var(--preset-color-black-light);
}

.navigation-bar--container .navigation-bar--buttons-container {
    gap: 30px;
    display: flex;
    align-items: center;
}
.navigation-bar--container .navigation-bar--buttons-container * {
    padding: 5px;
    display: flex;
    cursor: pointer;
    font-weight: 700;
    color: var(--preset-color-black);
    font-size: var(--font-size-medium);
}
.navigation-bar--container .navigation-bar--buttons-container .navigation-bar--button-free-trial {
    padding: 5px 15px;
    border-radius: 6px;
    border: 1px solid var(--preset-color-black-light);
}
.navigation-bar--container .navigation-bar--buttons-container .navigation-bar--button-free-trial:hover { 
    border: 1px solid var(--preset-color-black);
}