:root {
    --preset-color-black: hsl(0, 3%, 7%);
    --preset-color-white: hsl(0, 0%, 100%);
    --preset-color-blue: hsl(214, 59%, 52%);
    --preset-color-black-light: hsla(0, 0%, 17%, 0.349);
    --preset-shadow: 0 0 15px 5px var(--preset-color-black-light);
}
.login-form--container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 50%;
    height: 100vh;
    background-color: var(--preset-color-white);
}
.login-form--header {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.login-form--header .login-form--title {
    margin-bottom: 0;
    margin-top: 24px;
}
.login-form--header .login-form--subtext {
    margin-top: 8px;
}